Repository ez-algorithm/algorithm, pull requests merged in 2022-05, with the labels that each got.

#79 김현아 : 백준 16506 CPU
  kha/boj/16506.py
Labels: boj, 구현

#92 강일훈 : boj 11559 Puyo Puyo
  ilhoon93/boj/boj-11559.py
Labels: boj, dfs

#82 강일훈 : programmers 영어끝말잇기
  ilhoon93/programmers/programmer-영어끝말잇기.py
Labels: programmers, 구현

#81 강일훈 : leetcode 55 jump game
  ilhoon93/leet/leet-55.py
Labels: leetcode, greedy

#98 김현아 : leetcode 14 Longest Common Prefix
  kha/leetcode/14.py
Labels: leetcode

#108 강일훈 : boj 1000 유기농 배추
  ilhoon93/boj/boj-1012.py
Labels: boj, dfs

#105 하현숙 : boj 1012 bfs 유기농 배추
  hyeonsook95/baekjoon/1012.py
Labels: boj, bfs

#109 김현아 : 백준 17140 이차원 배열과 연산
  kha/boj/17140.py
Labels: boj, 구현
