Repository ez-algorithm/algorithm, pull requests merged in 2022-02, with the labels that each got.

#1 하현숙 : leetcode 26 Remove Duplicates from Sorted Array
  hyeonsook95/hackerrank/try_of_triangle.sql
  hyeonsook95/leetcode/26.ts
  hyeonsook95/leetcode/9.ts
Labels: leetcode, 구현, hackerrank

#2 임영찬 : leetcode 26 Remove Duplicates from Sorted Array
  lim8662/hackerrank/type-of-triangle.sql
  lim8662/leetcode/leet-26.ts
  lim8662/leetcode/leet-9.ts
Labels: leetcode, 투포인터

#3 하현숙: boj 1085 직사각형에서 탈출
  hyeonsook95/baekjoon/1085.js
  hyeonsook95/beakjoon/1085.js
Labels: boj, 구현

#6 하현숙 : hackerrank The PADS SQL
  hyeonsook95/hackerrank/the_pads.sql
Labels: hackerrank, MySQL

#7 하현숙: boj 1018 체스판 다시 칠하기
  hyeonsook95/baekjoon/1018.js
Labels: boj, 구현

#4 임영찬 : hackerrank The PADS
  lim8662/hackerrank/the-pads.sql
Labels: hackerrank, MySQL
